#search {
    width: 100%;
    text-align: center;
    margin: 20px;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    /* border-color: #D0E1D4; */
}

.card {
    width: 18rem;
}

.card > p {
    opacity: 0;
}

.card:hover p {
    opacity: 1;
}

