@font-face {
  src: url(./fonts/apercu/Apercu\ Pro\ Medium.otf);
	font-family: apercu;
}

* {
  font-family: apercu;
  font-size: medium;
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: white;
  border: 1px black solid;
}
