@font-face {
  src: url(./fonts/apercu/Apercu\ Pro\ Regular.otf);
	font-family: apercu;
}

* {
  font-family: apercu;
  font-size: large;
  color: black;
}

button {
  background-color: white;
  border: 1px black solid;
}
